<h1>Can CanCan Do Dynamic ACL?</h1>
<p>CanCan provides some great methods for assiging authorization to user roles; however, not much is covered about database driven access control lists. This project is an attempt to use CanCan with pseudo-roles that encapsulate roles, and users.</p>
<p>Below are links to some pages that will require authorization.</p>
