<h1>Reports</h1>
<% if @reports.length > 0 %>
<ul>
<% @reports.each do |report| %>
  <li><%= link_to report.name, report %> | <%= link_to "json", "/api/v1/reports/#{report.id}" %></li>
<% end %>
</ul>
<% end %>

